@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    color: rgba(0,0,0,.87);
}

.container{
    padding: 6px;
}

a{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: inline-block;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

svg{
    width: 24px;
}

header{
    height: 60px;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a{
    font-size: 13px;
}

header nav a:nth-child(2){
    margin: 0 15px;
}

header a.header-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

header a.header-icon:hover{
    background-color: rgba(60,64,67,.08);
}

header .btn{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    background-color: #1a73e8;
    margin: 0 8px;
    padding: 9px 23px;
    border: 1px solid transparent;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.25px;
    border-radius: 4px;
}

header .btn:hover{
    background-color: #2b7de9;
}

/* SECTION */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: calc(100vh - 156.6px);
}

section form{
    padding: 20px 0;
}

section form .search-div{
    display: flex;
    width: 584px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 46px;
    align-items: center;
    padding: 5px 8px 0 14px;
}

section form .search-div .search-icon svg{
    width: 20px;
}

section form .search-div input{
    flex: 1;
    height: 34px;
    font-size: 16px;
    outline: none;
    border: none;
    margin-left: 10px;
    color: rgba(0,0,0,.87);
}

section form .search-div .keyboard-icon,
section form .search-div .mic-icon{
    padding: 0 8px;
}

section form .search-div:hover .icon{
    cursor: pointer;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

section form .inputs input[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

section form .inputs input[type="submit"]:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* FOOTER */
footer{
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #70757a;
    font-family: arial,sans-serif;
    font-weight: 00;
}

footer a{
    color: #70757a;
}

footer .container:nth-child(1){
    padding: 15px 30px;
    font-size: 15px;
}

footer .container:nth-child(2){
    display: flex;
    align-items: center;
    border-top: 1px solid #dadce0;
    padding: 0 20px;
    font-size: 14px;
}

footer .container:nth-child(2) > div{
    width: 33%;
}

footer .container:nth-child(2) > div:nth-child(2){
    text-align: center;
}

footer .container:nth-child(2) > div:last-child{
    text-align: end;
}

footer a{
    padding: 15px;
}

footer .center a{
    padding-left: 5px;
}

footer .center img{
    width: 12px;
}